@import '../index.css';

.create-page-container {
    margin: 5vh 25vw;
    padding: 3vh 3.5vw;
    display: flex;
    flex-direction: column;
    background-color: var(--base-200-color);
    border-radius: 25px;
}

.back-link {
    display: flex;
    gap: 0.5rem;
    text-decoration: none;
    /* background-color: var(--base-300-color); */
    padding: 1.5rem 2rem;
    border-radius: 1.75rem;
    /* box-shadow: 0 10px 15px -5px var(--primary-color); */
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
    cursor: pointer;
    color: var(--base-content-color);
    margin-right: 30vw;
}

.back-link-icon {
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.back-link-text {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}