@import '../index.css';

.page-container {
    margin-top: 3.5rem;
    padding: 1.5vh 10vw;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1.5rem;
}